/* Vos customisations des classes de Bootstrap */



/* ALL */
body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background: red;
}

header{
    display: flex;
    justify-content: center;
    background-color: #393a3a;
    height: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 55px;
}

a{
    text-decoration: none;
    color: lightgrey;
}

p{
    line-height: 1.8;
}

button{
    padding: 10px;
    border: 0px;
    border-radius: 2px;
    background-color: #d9534f;
}

.container{
    width: 60%;
}

.columne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



/* NAV */

.aGetInvolved{
    margin: 5px;
    font-size: 10px;
}




/* HOME */

#home {
    display: flex;
    justify-content: center;
    height: 700px;
    background-image: url("../images/hero-image.jpg");
    color: white;
    text-align: center;
    
    div{
        button{
            font-size: larger;
            color: white;
        }
    }
}


/* WHO WE ARE */

#who {
    display: flex;
    justify-content: center;
    background-color: white;

    div{
        padding-top: 50px;
        padding-bottom: 10px;

        h2{
            color: #d9534f;
        }

        hr{
            color: #d9534f;
            width: 18%;
        }

        p{
            text-align: center;
            span{
                color: #d9534f;
            }
        }
    }
}

/* GET INVOLVED */









/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
